.sandwich {
  display: flex;
  flex-direction: column;
}

.sandwich > *:nth-child(2) {
  flex-grow: 1;
}

.flow > * + * {
  margin-top: var(--flow-size, var(--size-9));
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
}

.sidebar > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

.sidebar > :last-child {
  flex-basis: 20rem;
  flex-grow: 1;
}

.switcher {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.switcher > * {
  flex: 1;
  flex-basis: var(--switcher-width, 20rem);
}

.items-center {
  display: grid;
  place-items: center;
}

.reel {
  --col-width: max(
    20rem,
    calc(100% / var(--reel-columns, 2)) - var(--reel-gap, 0rem)
  );
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(var(--col-width));
  gap: var(--reel-gap, 0rem);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: var(--reel-gap, 0rem);
}

.reel > * {
  scroll-snap-align: start;
}

.space-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
