details {
  position: relative;
  overflow: hidden;
  transform: skewY(-1.5deg);
}

details:first-of-type {
  border-top: 2px solid var(--clr-neutral-12);
}

details::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 2px;
  background-color: var(--clr-neutral-12);
}

details summary {
  --padding-left: 8rem;
  --marker-weight: 8px;
  --marker-length: 2rem;
  position: relative;
  cursor: pointer;
  font-size: clamp(4rem, 8vw, 7rem);
  font-weight: var(--font-weight-9);
  transition: color 0.2s, background-color 0.2s;
  padding: 0;
  white-space: nowrap;
}
details summary:where(:hover, :focus),
details[open] summary {
  background-color: var(--clr-neutral-12) !important;
  color: var(--clr-neutral-0);
}

details summary::marker {
  display: none;
  content: "";
}
