.blockquote {
  display: flex;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  align-content: flex-start;
}

.blockquote_sidebar h3 {
  font-size: 1.5rem;
  font-style: italic;
}

.blockquote_img {
  position: relative;
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border: 8px solid black;
}

.blockquote_img img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: saturate(0%) contrast(200%) brightness(140%);
}

.blockquote_text {
  min-width: 15ch;
}
