.button {
  display: block;
  width: 100%;
  text-align: center;
  border: 2px solid var(--clr-neutral-12);
}

.button:hover {
  background-color: var(--clr-neutral-12);
  color: var(--clr-neutral-0);
}
