.wrapper {
  width: var(--fluid-size-base);
  margin-inline: auto;
}

.italic {
  font-style: italic;
}

.dashed-section {
  position: relative;
  --border-size: 2rem;
}

.dashed-section::after {
  content: " ";
  position: absolute;
  width: var(--border-size);
  right: calc(100% + var(--size-6));
  top: 0;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(
    45deg,
    var(--clr-neutral-1) 25%,
    var(--clr-neutral-12) 25%,
    var(--clr-neutral-12) 50%,
    var(--clr-neutral-1) 50%,
    var(--clr-neutral-1) 75%,
    var(--clr-neutral-12) 75%,
    var(--clr-neutral-12) 100%
  );
  background-size: var(--border-size) var(--border-size);
}
