.m-auto {
  margin-inline: auto;
}

.main-width {
  width: var(--main-width);
}

.gap-1 {
  gap: var(--size-1);
}
.gap-2 {
  gap: var(--size-2);
}
.gap-3 {
  gap: var(--size-3);
}
.gap-4 {
  gap: var(--size-4);
}
.gap-5 {
  gap: var(--size-5);
}
.gap-6 {
  gap: var(--size-6);
}
.gap-7 {
  gap: var(--size-7);
}
.gap-8 {
  gap: var(--size-8);
}
.gap-9 {
  gap: var(--size-9);
}
.gap-10 {
  gap: var(--size-10);
}
.gap-11 {
  gap: var(--size-11);
}
.gap-12 {
  gap: var(--size-12);
}
.gap-13 {
  gap: var(--size-13);
}
.gap-14 {
  gap: var(--size-14);
}
.gap-15 {
  gap: var(--size-15);
}

.p-1 {
  padding: var(--size-1);
}
.p-2 {
  padding: var(--size-2);
}
.p-3 {
  padding: var(--size-3);
}
.p-4 {
  padding: var(--size-4);
}
.p-5 {
  padding: var(--size-5);
}
.p-6 {
  padding: var(--size-6);
}
.p-7 {
  padding: var(--size-7);
}
.p-8 {
  padding: var(--size-8);
}
.p-9 {
  padding: var(--size-9);
}
.p-10 {
  padding: var(--size-10);
}
.p-11 {
  padding: var(--size-11);
}
.p-12 {
  padding: var(--size-12);
}
.p-13 {
  padding: var(--size-13);
}
.p-14 {
  padding: var(--size-14);
}
.p-15 {
  padding: var(--size-15);
}

.m-1 {
  margin: var(--size-1);
}
.m-2 {
  margin: var(--size-2);
}
.m-3 {
  margin: var(--size-3);
}
.m-4 {
  margin: var(--size-4);
}
.m-5 {
  margin: var(--size-5);
}
.m-6 {
  margin: var(--size-6);
}
.m-7 {
  margin: var(--size-7);
}
.m-8 {
  margin: var(--size-8);
}
.m-9 {
  margin: var(--size-9);
}
.m-10 {
  margin: var(--size-10);
}
.m-11 {
  margin: var(--size-11);
}
.m-12 {
  margin: var(--size-12);
}
.m-13 {
  margin: var(--size-13);
}
.m-14 {
  margin: var(--size-14);
}
.m-15 {
  margin: var(--size-15);
}

.m-b-1 {
  margin-block: var(--size-1);
}
.m-b-2 {
  margin-block: var(--size-2);
}
.m-b-3 {
  margin-block: var(--size-3);
}
.m-b-4 {
  margin-block: var(--size-4);
}
.m-b-5 {
  margin-block: var(--size-5);
}
.m-b-6 {
  margin-block: var(--size-6);
}
.m-b-7 {
  margin-block: var(--size-7);
}
.m-b-8 {
  margin-block: var(--size-8);
}
.m-b-9 {
  margin-block: var(--size-9);
}
.m-b-10 {
  margin-block: var(--size-10);
}
.m-b-11 {
  margin-block: var(--size-11);
}
.m-b-12 {
  margin-block: var(--size-12);
}
.m-b-13 {
  margin-block: var(--size-13);
}
.m-b-14 {
  margin-block: var(--size-14);
}
.m-b-15 {
  margin-block: var(--size-15);
}

.m-i-1 {
  margin-inline: var(--size-1);
}
.m-i-2 {
  margin-inline: var(--size-2);
}
.m-i-3 {
  margin-inline: var(--size-3);
}
.m-i-4 {
  margin-inline: var(--size-4);
}
.m-i-5 {
  margin-inline: var(--size-5);
}
.m-i-6 {
  margin-inline: var(--size-6);
}
.m-i-7 {
  margin-inline: var(--size-7);
}
.m-i-8 {
  margin-inline: var(--size-8);
}
.m-i-9 {
  margin-inline: var(--size-9);
}
.m-i-10 {
  margin-inline: var(--size-10);
}
.m-i-11 {
  margin-inline: var(--size-11);
}
.m-i-12 {
  margin-inline: var(--size-12);
}
.m-i-13 {
  margin-inline: var(--size-13);
}
.m-i-14 {
  margin-inline: var(--size-14);
}
.m-i-15 {
  margin-inline: var(--size-15);
}

.p-i-1 {
  padding-inline: var(--size-1);
}
.p-i-2 {
  padding-inline: var(--size-2);
}
.p-i-3 {
  padding-inline: var(--size-3);
}
.p-i-4 {
  padding-inline: var(--size-4);
}
.p-i-5 {
  padding-inline: var(--size-5);
}
.p-i-6 {
  padding-inline: var(--size-6);
}
.p-i-7 {
  padding-inline: var(--size-7);
}
.p-i-8 {
  padding-inline: var(--size-8);
}
.p-i-9 {
  padding-inline: var(--size-9);
}
.p-i-10 {
  padding-inline: var(--size-10);
}
.p-i-11 {
  padding-inline: var(--size-11);
}
.p-i-12 {
  padding-inline: var(--size-12);
}
.p-i-13 {
  padding-inline: var(--size-13);
}
.p-i-14 {
  padding-inline: var(--size-14);
}
.p-i-15 {
  padding-inline: var(--size-15);
}

.p-b-1 {
  padding-block: var(--size-1);
}
.p-b-2 {
  padding-block: var(--size-2);
}
.p-b-3 {
  padding-block: var(--size-3);
}
.p-b-4 {
  padding-block: var(--size-4);
}
.p-b-5 {
  padding-block: var(--size-5);
}
.p-b-6 {
  padding-block: var(--size-6);
}
.p-b-7 {
  padding-block: var(--size-7);
}
.p-b-8 {
  padding-block: var(--size-8);
}
.p-b-9 {
  padding-block: var(--size-9);
}
.p-b-10 {
  padding-block: var(--size-10);
}
.p-b-11 {
  padding-block: var(--size-11);
}
.p-b-12 {
  padding-block: var(--size-12);
}
.p-b-13 {
  padding-block: var(--size-13);
}
.p-b-14 {
  padding-block: var(--size-14);
}
.p-b-15 {
  padding-block: var(--size-15);
}
